modules/extensions-spring-support/src/test/resources/metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/metadata" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
    <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"></xs:import>
    <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
    <xs:import namespace="http://www.mulesoft.org/schema/mule/extension" schemaLocation="http://www.mulesoft.org/schema/mule/extension/current/mule-extension.xsd"></xs:import>
    <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-extension" name="config">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="mule:abstractExtensionType">
                    <xs:annotation>
                        <xs:documentation>Default configuration</xs:documentation>
                    </xs:annotation>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element xmlns:extension="http://www.mulesoft.org/schema/mule/extension" minOccurs="0" maxOccurs="1" ref="extension:abstractConnectionProvider"></xs:element>
                    </xs:sequence>
                    <xs:attribute type="xs:string" use="required" name="name"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ContentAndOutputMetadataWithKeyParamType" substitutionGroup="mule:abstract-message-processor" name="content-and-output-metadata-with-key-param"></xs:element>
    <xs:complexType name="ContentAndOutputMetadataWithKeyParamType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ContentAndOutputMetadataWithoutKeyParamType" substitutionGroup="mule:abstract-message-processor" name="content-and-output-metadata-without-key-param"></xs:element>
    <xs:complexType name="ContentAndOutputMetadataWithoutKeyParamType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ContentMetadataWithKeyParamType" substitutionGroup="mule:abstract-message-processor" name="content-metadata-with-key-param"></xs:element>
    <xs:complexType name="ContentMetadataWithKeyParamType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ContentMetadataWithoutKeyParamType" substitutionGroup="mule:abstract-message-processor" name="content-metadata-without-key-param"></xs:element>
    <xs:complexType name="ContentMetadataWithoutKeyParamType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ContentMetadataWithoutKeysWithKeyParamType" substitutionGroup="mule:abstract-message-processor" name="content-metadata-without-keys-with-key-param"></xs:element>
    <xs:complexType name="ContentMetadataWithoutKeysWithKeyParamType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ContentOnlyIgnoresOutputType" substitutionGroup="mule:abstract-message-processor" name="content-only-ignores-output"></xs:element>
    <xs:complexType name="ContentOnlyIgnoresOutputType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="FailWithResolvingExceptionType" substitutionGroup="mule:abstract-message-processor" name="fail-with-resolving-exception"></xs:element>
    <xs:complexType name="FailWithResolvingExceptionType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="arg1"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="arg2"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="FailWithRuntimeExceptionType" substitutionGroup="mule:abstract-message-processor" name="fail-with-runtime-exception"></xs:element>
    <xs:complexType name="FailWithRuntimeExceptionType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="arg1"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="arg2"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="KeyResolverWithoutKeyParamType" substitutionGroup="mule:abstract-message-processor" name="key-resolver-without-key-param"></xs:element>
    <xs:complexType name="KeyResolverWithoutKeyParamType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="arg1"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="OutputMetadataWithKeyParamType" substitutionGroup="mule:abstract-message-processor" name="output-metadata-with-key-param"></xs:element>
    <xs:complexType name="OutputMetadataWithKeyParamType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="mule:expressionObject" use="optional" name="content"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="OutputMetadataWithoutKeyParamType" substitutionGroup="mule:abstract-message-processor" name="output-metadata-without-key-param"></xs:element>
    <xs:complexType name="OutputMetadataWithoutKeyParamType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="OutputMetadataWithoutKeysWithKeyParamType" substitutionGroup="mule:abstract-message-processor" name="output-metadata-without-keys-with-key-param"></xs:element>
    <xs:complexType name="OutputMetadataWithoutKeysWithKeyParamType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns="http://www.mulesoft.org/schema/mule/metadata" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="OutputOnlyWithoutContentParamType" substitutionGroup="mule:abstract-message-processor" name="output-only-without-content-param"></xs:element>
    <xs:complexType name="OutputOnlyWithoutContentParamType">
        <xs:complexContent>
            <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageProcessorType">
                <xs:attribute type="mule:substitutableName" use="optional" name="config-ref">
                    <xs:annotation>
                        <xs:documentation>Specify which configuration to use for this invocation.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute type="mule:expressionString" use="required" name="type"></xs:attribute>
                <xs:attribute type="xs:string" use="optional" name="target">
                    <xs:annotation>
                        <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element xmlns:extension="http://www.mulesoft.org/schema/mule/extension" substitutionGroup="extension:abstractConnectionProvider" name="connection">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="extension:abstractConnectionProviderType">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
                    </xs:sequence>
                    <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:substitutableBoolean" use="optional" name="disableValidation"></xs:attribute>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>